// Mixins

@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin box-shadow($v) {
  -webkit-box-shadow: $v;
  -moz-box-shadow: $v;
  box-shadow: $v;
}

@mixin column($count, $gap) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-count: $count;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
}

@mixin selection {
  ::selection {
    @content;
  }
  ::-moz-selection {
    @content;
  }
}

@include selection {
  background: #000;
  color: #000;
}

html {
  background: #eee;
}

body {
  font: .9em/1.6  "Gill Sans", Helvetica, sans-serif;
  color: #333;
  background: #fff;
  margin: 2em auto;
  width: 42em;
  padding: 1em;
  border: 1px solid #bbb;
  @include border-radius(.5em);
  @include box-shadow(0 0 2em rgba(0, 0, 0, .15));
}

h1 {
  color: #666;
  font-weight: 100;
  margin: 0;
}

ul {
  list-style-type: none;
  font-size: 1.2em;
  padding: 2em 1em;
  margin: 0;
  background-color: #f3f3f3;
  transition: opacity 1s;

  &:nth-child(even) {
    background-color: #fafafa;
  }

  &:hover {
    background: #333;
    color: white;
  }

  strong {
    display: inline-block;
  }
}
